/*---------------------------- CORPO DO BLOG ----------------------------*/
        
body {
    background: #1A1A1A;
    margin: 0;
    min-width: 970px;
}

a {
    text-decoration: none;
    color: #6653FF;
}

/*---------------------------- CABEÇALHO DO BLOG ----------------------------*/

#HEADER img {
    z-index: -1;
    position: relative;
    height: calc(100% + 0.1px * 2);
    width: calc(100% + 0.1px * 2);
    background-image: url("https://i.imgur.com/Zhp16QX.png");
    background-position: 72.5% 98.5185%;
}

t1 {
    font-family: Bitter;
    font-size: 50px;
    color: #FFF;
    margin-top: -135px;
    display: block;
    text-align: center;
}

t2 {
    font-family: Bitter;
    font-size: 30px;
    color: #FFF;
    display: block;
    text-align: center;
}

t3 {
    font-family: Bitter;
    font-size: 40px;
    color: #FFF;
    display: block;
    text-align: center;
    margin-top: -24px;
    letter-spacing: 22px;
}
